[Unit]
Description=Elemental system rootfs mounts
DefaultDependencies=no
After=initrd-root-fs.target elemental-setup-rootfs.service
Requires=initrd-root-fs.target
Before=initrd-fs.target
Conflicts=initrd-switch-root.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/run/cos/cos-layout.env
EnvironmentFile=-/run/elemental/layout.env
ExecStart=/usr/bin/elemental mount --debug
