#!/bin/bash

cos-build() {
 if [[ -z "$(docker images | grep cos-builder)" ]]; then
    docker build -t cos-builder .
 fi

  docker run \
 -ti --privileged=true \
 --device=/dev/loop-control:/dev/loop-control \
 --device=/dev/loop0:/dev/loop0 \
 --cap-add SYS_ADMIN \
 --rm \
 -v /var/run/docker.sock:/var/run/docker.sock \
 -v $PWD:/cOS \
 cos-builder
}

cos-build-vagrant() {
  iso=$(ls $PWD/*.iso)
  pushd packer > /dev/null
  packer build -var "iso=$iso" -var='sleep=30s' -var='feature=vagrant' -only virtualbox-iso images.json
  popd > /dev/null
}

cos-test() {
  make test
}

cos-all() {
  cos-build
  cos-build-vagrant
  cos-test
}
