#!/bin/bash

cos-build() {
 local flavor="${1:-green}"
 echo ">> Building cos flavor: $flavor"
 if [[ -z "$(docker images | grep cos-builder)" ]]; then
    docker build -t cos-builder .
 fi

docker run \
 -e FLAVOR=$flavor \
 -ti --rm \
 -v /var/run/docker.sock:/var/run/docker.sock \
 -v $PWD:/cOS \
 cos-builder
}

cos-build-vagrant() {
  iso=$(ls $PWD/*.iso)
  pushd packer > /dev/null
  packer build -var "iso=$iso" -var='sleep=30s' -var='feature=vagrant' -only virtualbox-iso images.json
  popd > /dev/null
}

cos-raw-disk() {
docker run \
 -e FLAVOR=$flavor \
 -ti --rm \
 -v /var/run/docker.sock:/var/run/docker.sock \
 -v $PWD:/cOS \
 cos-builder \
 raw_disk
}

cos-test() {
  make test
}

cos-all() {
  cos-build
  cos-build-vagrant
  cos-test
}
