build/
isowork/
*.iso
*.iso.sha256
*.qcow2
*.log
*.pid
iso-meta.json
iso-meta.yaml
.idea/
.qemu/
.loop
tests/**/logs
serial_port1.log
capture.webm

.vscode/
bin/
coverage.txt
dist/
public/
package-lock.json
package.json
node_modules/
.hugo_build.lock
