build/
isowork/
*.iso
*.iso.sha256
*.qcow2
*.log
*.pid
iso-meta.json
iso-meta.yaml
.idea/
.qemu/
.vagrant/
^Vagrantfile
packer/*.box
packer/*.tar.gz
packer/packer_cache/
packer/output*/
tests/**/logs
serial_port1.log
capture.webm

