/*

Add styles or override variables from the theme here.

*/

$primary: #72C2CF;
$secondary: #373B6B;
$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;
$google_font_name: "Open Sans";
$google_font_family: "Open+Sans:300,300i,400,400i,700,700i";



// .text-uppercase { display: none !important; }
// .td-cover-block { background-image: linear-gradient(135deg, #1958ce 0%, #1f1e1e 100%); }

// .td-navbar {
//     background: #a6d7e2 !important;
// }

// .navbar-bg-onscroll {
//     background: #A57BAE !important;

// }

// .td-box--primary .td-arrow-down::before, .td-box--1 .td-arrow-down::before{
//     border-color: #385CAD transparent transparent transparent !important;

// }
// .td-box--primary {
//     background-color: #385CAD !important;
// }

// .td-box--1 {     background-color: #00BCE7 !important; }
// .td-box--2 {     background-color: #1994BA !important; }


// .td-box--dark {
//     background-color: #1B3B51 !important;

// }

// .td-box--3 {
//     color: #fff !important;
//     background-color: #1B3B51 !important;
// }

// .td-box--4 {
//     background-color: #D7D8D6 !important;

// }



// .btn-primary {
//     background: #00BCE7 !important;
//     border-color:  #00BCE7 !important;

// }

// .btn-secondary {
//     background: #A57BAE !important;
//     border-color:  #A57BAE !important;

// }