# TODO we could sanity check $partlabel is set here so we can error out before even attempting to boot
set kernel=/boot/vmlinuz
if [ "${img}" == "/cOS/recovery.img" ]; then
  set kernelcmd="console=tty1 console=ttyS0 root=LABEL=$recovery_label cos-img/filename=$img security=selinux selinux=0 rd.neednet=1 rd.cos.oemlabel=$oem_label rd.cos.mount=LABEL=$oem_label:/oem"
else
  set kernelcmd="console=tty1 console=ttyS0 root=LABEL=$state_label cos-img/filename=$img panic=5 security=selinux selinux=0 rd.neednet=1 rd.cos.oemlabel=$oem_label rd.cos.mount=LABEL=$oem_label:/oem rd.cos.mount=LABEL=$persistent_label:/usr/local fsck.mode=force fsck.repair=yes"
fi
set initramfs=/boot/initrd
