// :root {
//   --primary-color   : #72c2cf;
//   --secondary-color : #373b6b;
//   --dark            : #33313b;
//   --light           : #F3F3F3;
// }

* {
  box-sizing: inherit;
}

html,
body {
  font-size: 10px;
}

body {
  font-family: 'roboto', sans-serif;
  margin: 0;
  background-color: var(--light);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'poppins', sans-serif;
  color: var(--dark);
  margin-top: 0;
  hyphens: none;
}

h4, h5, h6 {
  color: var(--primary-color);
}

h1 {
  margin-bottom: 3rem;
  font-size: 5em;
  line-height: 6rem;
}

h2 {
  margin-bottom: 3rem;
  font-size: 3em;
  line-height: 4rem;
  text-align: center
}

h3 {
  margin-bottom: 3rem;
  font-size: 2.5em;
  line-height: 3.5rem;
}

h4 {
  margin-bottom: 2rem;
  font-size: 2em;
  line-height: 3rem;
}

h5 {
  margin-bottom: 2rem;
  font-size: 1.75em;
  line-height: 2.75rem;
}

h6 {
  margin-bottom: 2rem;
  font-size: 1.4em;
  line-height: 2.25rem;
}

p, li {
  margin-bottom: 2rem;
  font-size: 1.4em;
  line-height: 2.25rem;
}

ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

li {
  position: relative;
  display: block;
  padding: 1.25rem 0;
  margin-bottom: -1px;
  border-bottom: 1px solid rgba(51,49,59,.125);
}

small {
  font-size: .5em;
}

a {
  color: var(--secondary-color);
}

// /* header and footer areas */
.rancher-header, 
.sub-header, 
footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rancher-header {
  background:var(--dark);
  
  a {
    color: white;
  }

  div {
    display: flex;
    align-items: center;
  
    > * {
      margin: 0 5px;
    }
  }
}

.sub-header {
  background: white;
  
  a img {
    height: 40px;
  }

  .menu {
    padding: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
  
    li {
      display: inline-block;
      padding: 0;
      margin: 0;
      border: none;
  
      &:last-child {
        padding-right: 0;
      }
    }

    a.btn {
      display: inline-flex;
    }
  }
}

footer {
  background: var(--dark);
  padding: 2rem 1rem;

  p, a {
    color: var(--light);
    margin: 0;
  }

  .project-icons {
    a {
      display: inline-block;
      text-decoration: none;

      img {
        filter: brightness(10) grayscale(1);
        margin: 0 0 0 10px;
        border-radius: 3px;
        transition: ease-in-out all .25s;
        &:hover {
          filter: brightness(1) grayscale(0);
          background: white;
        }
      }
    }
  }
}

hr {
  width: 75%;
  max-width: 1200px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #F3F3F3, #adadb1, #F3F3F3);
  background-image: -moz-linear-gradient(left, #F3F3F3, #adadb1, #F3F3F3);
  background-image: -ms-linear-gradient(left, #F3F3F3, #adadb1, #F3F3F3);
  background-image: -o-linear-gradient(left, #F3F3F3, #adadb1, #F3F3F3);
}

pre {
  background: var(--dark);
  color: var(--light);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  border-radius: 3px;
  white-space: pre-wrap;
}

/* elements */
img, iframe, video {
  max-width: 100%;
}

main {
  hyphens: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
  thead th {
    border-bottom: 1px solid #ddd;
  }
}

th, td {
  padding: 5px;
}

thead, tfoot, tr:nth-child(even) {
  background: #eee;
}


a.btn {
  font-family: 'poppins', sans-serif;
  text-transform: uppercase;
  background: var(--secondary-color);
  color: var(--light)!important;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 0;
  font-weight: bold;
  align-items: center;
  border-radius: 3px;
  letter-spacing: 1px;

  > img {
    padding-right: .5rem;
    height: 20px;
  }

  &.no-bg {
    background: transparent;
    color: var(--secondary-color)!important;
  }
}

//layout
section {
  padding: 10rem 0;
}

.wrap {
  box-sizing: border-box;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-items: end;
  column-gap: 2rem;
  position: relative;

  .grid-two {
    align-items: center;
  }

  // :after {
  //   content: "";
  //   background-image: url(../img/cables.svg);
  //   background-repeat: no-repeat;
  //   height: 250px;
  //   width: 100%;
  //   position: absolute;
  //   bottom: -15px;
  //   opacity: .05;
  //   z-index: -1;
  //   left: 0;
  // }
}

.half {
  flex-basis: 50%;
  max-width: 50%;
  padding: 2rem;

  // &:last-child {
  //   padding: 0;
  // }
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.grid-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.grid-four {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;

  // &::before {
  //   content: '';
  //   width: 0;
  //   padding-bottom: 100%;
  //   grid-row: 1 / 1;
  //   grid-column: 1 / 1;
  // }

  // > *:first-child {
  //   grid-row: 1 / 1;
  //   grid-column: 1 / 1;
  // }
}

.grid-dynamic {
  display:flex;

  h5 {
    margin: 0;
    flex-grow: 1;
    flex-basis: 0;
  }
}

.spacer {
  padding: 4rem;
}

.text-center {
  text-align: center;
}

//accents
.bg-primary {
  background-color: var(--primary-color);
  h1, h2, h3, h4, h5, h6, p, a {
    color: var(--dark);
  }
}

.bg-secondary {
  background-color: var(--secondary-color);
  h1, h2, h3, h4, h5, h6, p, a {
    color: var(--light);
  }
}

.bg-dark {
  background-color: var(--dark);
  h1, h2, h3, h4, h5, h6, p, a {
    color: var(--light);
  }
}

.bg-light {
  background-color: var(--light);
  h1, h2, h3, h4, h5, h6, p, a {
    color: var(--dark);
  }
}

.folder {
  h4 {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--light);
    position: relative;

    // &:after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   right: -60px;
    //   border-top: solid 30px transparent;
    //   border-right: solid 30px transparent;
    //   border-bottom: solid 30px var(--secondary-color);
    //   border-left: solid 30px var(--secondary-color);
    // }
  }

  .bg-light {
    background-color: white;
    padding: 40px;
    border-top: solid var(--secondary-color) 14px;
    box-shadow: rgba(51,49,59, 0.5) 0 0 20px;
  }

  .grid-three {

    h5 {
      margin: 0;
      padding: 10px;
      border-radius: 6px;
    }
  }
}


//docs layout
.docs {
  .container {
    display: grid;

    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";

    grid-template-columns: 300px minmax(50ch, 80ch) auto;
    grid-template-rows: auto 1fr;
    column-gap: 40px;

    height: 100vh;
  }

  header {
    grid-area: header;
  }

  .tree-nav {
    grid-area: nav;
    align-items: start;
    padding: 2rem;
    background-color: var(--primary-color);

    > ul ul {
      display: none
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        cursor: pointer;

        &.open {
          > img {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
          }

          > ul {
            display: block;
          }
        }

        a {
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
          color: var(--primary-color);
        }

        ul {
          margin-left: 10px;
        }
      }
    }
  }

  main {
    grid-area: content;
    margin-top: 2rem;
  }

  aside {
    grid-area: side;
    margin-top: 2rem;
  }

  footer {
    grid-area: footer;
  }

  //table of contents
  #TableOfContents {
    > ul {
      padding: 0;
      margin: 0;
    }

    ul {
      list-style-type: none;

      li {
        a {
          text-decoration: none;
          padding: .25rem 0;
          display: block;
        }
      }
    }
  }
}

//intro
.intro {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0;

  .grid-two {
    grid-template-columns: 60% auto;
  }

  .wrap {
    padding: 5rem 0 15rem 0;
  }

  .folder {
    grid-row: 5 / span 3;
    grid-column: 2 / span 4;
    z-index: 2;
  }

  .bg-primary {
    grid-row: 2 / span 4;
    grid-column: 1 / span 6;
    color: var(--dark);
  }
}

//get started
.get-started {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  padding: 0;
  position: relative;

  .white {
    background: var(--light);
    grid-row: 2 / span 4;
    grid-column: 2 / span 4;
    z-index: 2;
    box-shadow: rgba(51,49,59, 0.5) 0 0 20px;
    padding: 5rem;
  }

  .bg-primary {
    background: var(--primary-color);
    grid-row: 5 / span 3;
    grid-column: 1 / span 6;
    color: white;
    padding: 20rem 0 5rem 0;
  }
}

//responsive
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* side Nav */
      1fr /* Content */
      minmax(75px, auto) /* toc */
      auto; /* Footer */
  }

  .wrap {
    width: 90%;
  }

  section {
    padding: 2em;
  }

  nav.main-nav {
    .logo, .logo img {
      height: 35px;
      width: 112px;
      display: inline-block;
    }
  }

  .grid-dynamic {
    display: block;
    text-align: left;

    h5 {
      border-bottom: solid var(--light) 1px;
      padding: 5px 10px;
    }
  }

  .grid-two,
  .grid-three,
  .intro .grid-two {
    grid-template-columns: 1fr;
  }

  .grid-two {
    grid-row-gap: 0;
  }

  .grid-four {
    grid-template-columns: repeat(2, 1fr);
  }

  .hidden-small {
    display: none;
  }

  //intro
  h1 {
    font-size: 4em;
    line-height: 5rem;
  }

  .grid-two {
    grid-gap: 30px;
  }

  .intro .folder {
    grid-row: 5/span 4;
  }

  //get started
  .get-started {
    grid-template-columns: repeat(8,1fr);

    .white {
      // grid-row: 3/span 4;
      grid-column: 2/span 6;
    }
    .bg-primary {
      grid-column: 1/span 8;
    }
  }
}