[Unit]
Description=Elemental system early rootfs setup
DefaultDependencies=no
After=sysroot.mount
Requires=sysroot.mount
After=oem.mount
Wants=oem.mount
Before=initrd-fs.target
Conflicts=initrd-switch-root.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/ln -sf -t / /sysroot/system
ExecStart=/usr/bin/elemental run-stage rootfs

[Install]
RequiredBy=initrd-root-fs.target
