[Unit]
Description=Elemental system initramfs setup before switch root
DefaultDependencies=no
After=initrd-fs.target
Wants=initrd-fs.target
Before=initrd.target

[Service]
RootDirectory=/sysroot
BindPaths=/proc /sys /dev /run /tmp
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/elemental run-stage initramfs

[Install]
WantedBy=initrd.target
