[Unit]
Description=Elemental system configuration
After=network-online.target systemd-logind.service
Wants=network-online.target systemd-logind.service
ConditionPathExists=/run/elemental/active_mode

StartLimitAction=reboot
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/elemental-boot-assessment
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target