[Unit]
Description=Elemental health check
After=network-online.target systemd-logind.service elemental-setup-network.service elemental-setup-boot.service
Wants=network-online.target systemd-logind.service elemental-setup-network.service elemental-setup-boot.service
ConditionKernelCommandLine=elemental.health_check
ConditionPathExists=!/run/elemental/recovery_mode

StartLimitAction=reboot
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/elemental-boot-assessment
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
