* {
  box-sizing: inherit; }

html,
body {
  font-size: 10px; }

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #F3F3F3; }

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Mono", monospace;
  color: #969d9c;
  margin-top: 0; }

h4, h5, h6 {
  color: #287EFB; }

h1 {
  margin-bottom: 3rem;
  font-size: 5em;
  line-height: 6rem; }

h2 {
  margin-bottom: 3rem;
  font-size: 3em;
  line-height: 4rem; }

h3 {
  margin-bottom: 3rem;
  font-size: 2.5em;
  line-height: 3.5rem; }

h4 {
  margin-bottom: 2rem;
  font-size: 2em;
  line-height: 3rem; }

h5 {
  margin-bottom: 2rem;
  font-size: 1.75em;
  line-height: 2.75rem; }

h6 {
  margin-bottom: 2rem;
  font-size: 1.4em;
  line-height: 2.25rem; }

p {
  margin-bottom: 2rem;
  font-size: 1.4em;
  line-height: 2.25rem; }

small {
  font-size: .5em;
  color: #BFBFBF; }

a {
  color: blue; }

/* header and footer areas */
header .bg-dark .flex-between p {
  margin: 1rem 0;
  line-height: 1.5em;
  font-family: helvetica neue,Helvetica,Arial,sans-serif; }

.menu {
  padding: 0;
  margin: 0;
  display: inherit; }
  .menu li {
    display: inline-block; }
    .menu li:last-child {
      padding-right: 0; }

.article-meta {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px; }

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

nav.main-nav {
  background: white;
  border-bottom: solid thin white;
  padding: .75rem 0; }
  nav.main-nav .logo {
    height: 50px;
    width: 260.25px;
    display: block; }
  nav.main-nav .menu {
    text-align: center; }
    nav.main-nav .menu a {
      text-decoration: none;
      color: #287EFB; }
      nav.main-nav .menu a.btn:last-child {
        color: white; }

.article-meta, footer {
  text-align: center; }

.title {
  font-size: 1.1em; }

footer.bg-primary p {
  margin: 0;
  padding: .5rem; }
footer.bg-primary a {
  text-decoration: none; }
footer.bg-primary small {
  color: #BFBFBF; }

hr {
  border: 0.5px solid white; }

/* code */
pre {
  border: 1px solid #0458d3;
  border-radius: 5px;
  padding: 2em;
  overflow-x: auto;
  background-color: #F3F3F3;
  background: #0f6ffb; }

code {
  color: #384745; }

pre code {
  display: block;
  overflow-x: auto;
  background: none;
  color: #F3F3F3;
  font-size: 1.5em; }

/* elements */
img, iframe, video {
  max-width: 100%; }

main {
  hyphens: auto; }

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px; }

table {
  margin: auto;
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF; }
  table thead th {
    border-bottom: 1px solid #ddd; }

th, td {
  padding: 5px; }

thead, tfoot, tr:nth-child(even) {
  background: #eee; }

ul.underlined {
  font-size: 20px;
  line-height: 24px;
  font-weight: lighter;
  letter-spacing: .5px;
  list-style-type: none;
  padding: 0; }
  ul.underlined li {
    border-bottom: #BFBFBF solid thin;
    padding: 10px 0; }

a.btn {
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  background: #2ADFC3;
  color: white;
  padding: .75rem 35px;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 0;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  height: 35px;
  border-radius: 3px;
  letter-spacing: 1px; }
  a.btn > img {
    padding-right: .5rem;
    height: 20px; }
  a.btn.no-bg {
    background: transparent; }

section {
  padding: 10rem 0; }

.wrap {
  box-sizing: border-box;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto; }

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-items: end;
  column-gap: 2rem;
  position: relative; }
  .intro .grid-two {
    align-items: center; }
  .intro :after {
    content: "";
    background-image: url(../img/cables.svg);
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    opacity: .05;
    z-index: -1; }

.half {
  flex-basis: 50%;
  max-width: 50%;
  padding: 2rem; }

.grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem; }

.grid-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem; }

.grid-four {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem; }

.spacer {
  padding: 4rem; }

.text-center {
  text-align: center; }

.bg-primary {
  background-color: #287EFB; }
  .bg-primary h1, .bg-primary h2, .bg-primary h3, .bg-primary h4, .bg-primary h5, .bg-primary h6, .bg-primary p, .bg-primary a {
    color: #F3F3F3; }

.bg-secondary {
  background-color: #2ADFC3; }
  .bg-secondary h1, .bg-secondary h2, .bg-secondary h3, .bg-secondary h4, .bg-secondary h5, .bg-secondary h6, .bg-secondary p, .bg-secondary a {
    color: #F3F3F3; }

.bg-dark {
  background-color: #384745; }
  .bg-dark h1, .bg-dark h2, .bg-dark h3, .bg-dark h4, .bg-dark h5, .bg-dark h6, .bg-dark p, .bg-dark a {
    color: #F3F3F3; }

.bg-light {
  background-color: #F3F3F3; }
  .bg-light h1, .bg-light h2, .bg-light h3, .bg-light h4, .bg-light h5, .bg-light h6, .bg-light p, .bg-light a {
    color: #384745; }

.folder h4 {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  background-color: #2ADFC3;
  color: #F3F3F3;
  position: relative; }
  .folder h4:after {
    content: "";
    position: absolute;
    top: 0;
    right: -60px;
    border-top: solid 30px transparent;
    border-right: solid 30px transparent;
    border-bottom: solid 30px #2ADFC3;
    border-left: solid 30px #2ADFC3; }
.folder .bg-light {
  background-color: white;
  padding: 40px;
  border-top: solid #2ADFC3 15px;
  box-shadow: rgba(56, 71, 69, 0.5) 0 0 20px; }
.folder .grid-three h5 {
  margin: 0;
  padding: 10px;
  border-radius: 6px; }

.docs .container {
  display: grid;
  grid-template-areas: "header header header" "nav content side" "footer footer footer";
  grid-template-columns: 300px minmax(50ch, 80ch) auto;
  grid-template-rows: auto 1fr;
  column-gap: 40px;
  height: 100vh; }
.docs header {
  grid-area: header; }
.docs .tree-nav {
  grid-area: nav;
  align-items: start;
  padding: 2rem;
  background-color: white; }
  .docs .tree-nav > ul ul {
    display: none; }
  .docs .tree-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .docs .tree-nav ul li {
      cursor: pointer; }
      .docs .tree-nav ul li.open > img {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
      .docs .tree-nav ul li.open > ul {
        display: block; }
      .docs .tree-nav ul li a {
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: #287EFB; }
      .docs .tree-nav ul li ul {
        margin-left: 10px; }
.docs main {
  grid-area: content;
  margin-top: 2rem; }
.docs aside {
  grid-area: side;
  margin-top: 2rem; }
.docs footer {
  grid-area: footer; }
.docs #TableOfContents > ul {
  padding: 0;
  margin: 0; }
.docs #TableOfContents ul {
  list-style-type: none; }
  .docs #TableOfContents ul li a {
    text-decoration: none;
    padding: .25rem 0;
    display: block; }

.intro {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0; }
  .intro .grid-two {
    grid-template-columns: 60% auto; }
  .intro .wrap {
    padding: 5rem 0 15rem 0; }
  .intro .folder {
    grid-row: 5 / span 3;
    grid-column: 2 / span 4;
    z-index: 2; }
  .intro .bg-primary {
    grid-row: 2 / span 4;
    grid-column: 1 / span 6;
    color: white; }

.get-started {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
  position: relative; }
  .get-started:before {
    content: "";
    background-image: url(../img/cables.svg);
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    position: absolute;
    top: -15px;
    opacity: .25;
    transform: rotate(180deg); }
  .get-started .white {
    background: white;
    grid-row: 2 / span 4;
    grid-column: 2 / span 4;
    z-index: 2;
    box-shadow: rgba(56, 71, 69, 0.5) 0 0 20px;
    padding: 5rem; }
  .get-started .bg-primary {
    background: #287EFB;
    grid-row: 5 / span 3;
    grid-column: 1 / span 6;
    color: white;
    padding: 20rem 0 5rem 0; }

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

@media (max-width: 768px) {
  .container {
    grid-template-areas: "header" "nav" "content" "side" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(75px, auto) 1fr minmax(75px, auto) auto;
    /* Footer */ }

  .wrap {
    width: 90%; }

  section {
    padding: 2em; }

  nav.main-nav .logo, nav.main-nav .logo img {
    height: 35px;
    width: 112px;
    display: inline-block; }

  .grid-two,
  .grid-three,
  .intro .grid-two {
    grid-template-columns: 1fr; }

  .grid-two {
    grid-row-gap: 0; }

  .grid-four {
    grid-template-columns: repeat(2, 1fr); }

  .hidden-small {
    display: none; }

  h1 {
    font-size: 4em;
    line-height: 5rem; }

  .grid-two {
    grid-gap: 30px; }

  .intro .folder {
    grid-row: 5/span 4; }

  .get-started {
    grid-template-columns: repeat(8, 1fr); }
    .get-started .white {
      grid-row: 3/span 4;
      grid-column: 2/span 6; }
    .get-started .bg-primary {
      grid-column: 1/span 8; } }

/*# sourceMappingURL=main.css.map */
