[Unit]
Description=Elemental system rootfs overlay mounts
DefaultDependencies=no
After=initrd-root-fs.target
Wants=initrd-root-fs.target
Before=initrd-fs.target
ConditionKernelCommandLine=!rd.cos.disable
ConditionKernelCommandLine=!elemental.disable
Conflicts=initrd-switch-root.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/run/cos/cos-layout.env
EnvironmentFile=-/run/elemental/mount-layout.env
ExecStart=/usr/bin/elemental mount --debug

[Install]
WantedBy=initrd-fs.target
