name: Build Site
on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install deps
        run: |
          npm install postcss-cli
          npm install autoprefixer
          sudo -E make docs-deps
      - name: Build pages
        run: |
           make docs-build
           ls -liah public/