name: goreleaser

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # undocumented OIDC support.
      contents: write
    env:
      COSIGN_EXPERIMENTAL: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v3.3.1
        with:
          go-version-file: go.mod
      - name: Set up cosign
        uses: sigstore/cosign-installer@v2.8.0
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v3.2.0
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: ['x86_64']
        flavor: ['green']
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.ELEMENTAL_BOT_GITHUB_USERNAME }}
          password: ${{ secrets.ELEMENTAL_BOT_GITHUB_TOKEN }}
      - name: Build example image
        run: |
          make ARCH=${{ matrix.arch }} FLAVOR=${{ matrix.flavor }} REPO=ghcr.io/${{ github.workspace }}/${{ github.repository }}/elemental-${{ matrix.flavor}} build-os push-os
