name: goreleaser
on:
    push:
        tags:
            - 'v*'
env:
    GO_VERSION: '1.18'
jobs:
    goreleaser:
        runs-on: ubuntu-latest
        permissions:
            id-token: write # undocumented OIDC support.
            contents: write
        env:
            COSIGN_EXPERIMENTAL: 1
        steps:
            - name: Checkout
              uses: actions/checkout@v3.1.0
              with:
                fetch-depth: 0
            - name: Set up Go
              uses: actions/setup-go@v3.3.1
              with:
                go-version: '${{ env.GO_VERSION }}'
            - name: Set up cosign
              uses: sigstore/cosign-installer@v2.8.0
            - name: Run GoReleaser
              uses: goreleaser/goreleaser-action@v3.2.0
              with:
                version: latest
                args: release --rm-dist
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
